<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CommunityMapper">
	<select id="SelectCommunityList" resultType="com.spring.domain.CommunityDTO">
	    SELECT c.user_id, c.community_no, c.community_title, c.community_content, m.posters,
	           c.docid,
	           (SELECT COUNT(com.community_no) FROM comment_tb com WHERE com.community_no = c.community_no) as comment_count
	    FROM community c
	    JOIN movie_list2 m ON c.docid = m.docid
	    ORDER BY c.community_no DESC
	</select>

	<insert id="InsertCommunity">
		INSERT INTO community(user_id, docid, community_title, community_content)
		VALUES(
		#{user_id},
		#{docid},
		#{community_title},
		#{community_content}
		)
	</insert>
	<delete id="DeleteCommunity">
		DELETE community WHERE community_no = #{community_no}
	</delete>
	<update id="UpdateCommunity">
		UPDATE community SET community_title =#{community_title} ,community_content
		= #{community_content}
		WHERE community_no = #{community_no}
	</update>
	<select id="CommunityRanking" resultType="com.spring.domain.CommunityDTO">
    <![CDATA[
        SELECT user_id, community_no, community_title, community_content, posters, docid, comment_count, total_joayo
        FROM (
            SELECT c.user_id, c.community_no, c.community_title, c.community_content, m.posters, c.docid,
                   (SELECT COUNT(com.community_no) FROM comment_tb com WHERE com.community_no = c.community_no) as comment_count,
                   (SELECT COUNT(community_no) FROM community_joayo WHERE community_no = c.community_no AND joayo = 1) as total_joayo,
                   ROW_NUMBER() OVER (ORDER BY (SELECT COUNT(community_no) FROM community_joayo WHERE community_no = c.community_no AND joayo = 1) DESC) as row_num
            FROM community c
            JOIN movie_list2 m ON c.docid = m.docid
        )
        WHERE row_num <= 3
    ]]>
	</select>

</mapper>