<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.CommunityMapper">
  	<select id="SelectCommunityList" resultType="com.spring.domain.CommunityDTO">
  		SELECT * FROM community
  	</select> 
  	<insert id="InsertCommunity">
  		INSERT INTO community(user_id, docid, community_title, community_content)
  		VALUES(
		  #{user_id},
		  ' F49438 ',
		  #{community_title},
		  #{community_content}
		  )
  	</insert>
  	<delete id="DeleteCommunity">
  		DELETE community WHERE community_no = #{community_no}  	
  	</delete>
  	<update id="UpdateCommunity">
  		UPDATE community SET  community_title =#{community_title} ,community_content = #{community_content}  
  		WHERE community_no = #{community_no}
  	</update>
  </mapper>