<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.mapper.UserProfileMapper">
  
<!-- user_id로 UserProfile 있는지 확인 -->
  	<select id="selectUserProfileCnt" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user_profile WHERE user_id = #{user_id}
  	</select>
  
<!--  user_id로 UserProfile Select	 -->
  	<select id="selectUserProfile" parameterType="String" resultType="com.spring.domain.UserProfileDTO">
  		SELECT * FROM user_profile WHERE user_id = #{user_id}
  	</select>
 
<!--  UserProfile 추가 	 -->
  	<insert id="insertUserProfile">
  		INSERT INTO user_profile(user_id, name, img, intro)
  		VALUES(#{user_id}, #{name}, #{img}, #{intro})
  	</insert>
  	
<!--   	user_id의 intro 정보 변경 -->
  	<update id="updateUserProfileIntro">
  		UPDATE user_profile set intro=#{intro} WHERE user_id = #{user_id}  
  	</update>
  	
<!--   	user_id의 프사 변경 -->
  	<update id="updateUserProfileImg">
  		UPDATE user_profile set img=#{img} WHERE user_id = #{user_id}
  	</update>
  	
<!--   	user_id의 UserProfile 삭제 -->
  	<delete id="deleteUserProfile">
  		DELETE from user_profile where user_id = ${user_id}
  	</delete>
<!--	user_id로 나만의 무비리스트를 검색 -->
	<select id="selectMyMovieList"  resultType="com.spring.domain.MyMovieListDTO">
		SELECT
		    ml.mymovielist_no, ml.movielist_name, ml2.title, ml2.directorNm, ml2.nation, ml2.posters, ml2.genre, ml2.rating, ml2.docid
		FROM
		    mymovielist ml, movie_list2 ml2
		WHERE
		    ml.docid = ml2.docid
		    AND user_id = #{user_id}
	</select>
	<insert id="insertMyMovieList">
		INSERT INTO mymovielist(movielist_name, user_id, docid)
		VALUES (
		#{movielist_name},
		#{user_id},
		#{docid}
		)
	</insert>
	<delete id="deleteMyMovieList">
	DELETE mymovielist WHERE mymovielist_no = #{mymovielist_no}
	</delete>
  </mapper>