@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.page-wrapper {
  width: 100%;
  height: 100%;
  background: url(https://goo.gl/OeVhun) center no-repeat;
  background-size: cover;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 1000px;
  height: 600px;
  display: block;
  margin: 0;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}


.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 100%;
  height: 10%;
  padding: 12px 30px;
  overflow: hidden;
  background: #212121;
}

.btn-close {
  font-size: 28px;
  display: block;
  float: right;
  color: #fff;
}
a.btn {
<<<<<<< HEAD
  width: 150px;  
=======
  width: 100px;  
>>>>>>> 864b868aa1083505b10637469579652750556446
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  border-radius: 0;
  background: #e2525c;
}

.content {
  padding: 10%;
}

.tab{float:center; width:100%;}
.tabnav{font-size:0; width:100%;}
.tabnav li{display: inline-block; width:50%; height:46px; text-align:center;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
.tabnav li a.active:before{background:black;}
.tabnav li a{ position:relative; display:block; color: #fff; padding:0 30px; line-height:46px; text-decoration:none; font-size:16px;}
.tabnav li a:hover,
.tabnav li a.active{background:#353535; color:#black; }
.tabcontent{padding: 20px; height:100%; }
.tabnav{padding:0 0px;}
